.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 1em;
}

.subtitle {
  font-size: 1.5em;
}

.social {
  a:not(:last-child) {
    margin-right: 1em;
  }
}
