.no-js {
  align-items: center;
  background-color: $gray-darker;
  color: $white-base;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  height: 100vh;
  justify-content: center;

  p {
    flex-basis: 100%;
    padding: 0 1rem;
    text-align: center;
  }
}

.loader {
  height: 5em;
}

.loader__spinner {
  animation-delay: -.16s;
  color: $white-base;
  font-size: .5rem;
  margin: 1rem auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);

  &,
  &::before,
  &::after {
    animation: spinner 1s infinite ease-in-out;
    background: $white-base;
    height: 4em;
    width: 1em;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
  }

  &::before {
    animation-delay: -.32s;
    left: -1.5em;
  }

  &::after {
    left: 1.5em;
  }
}

@keyframes spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
