.about {
  @media (max-width: $screen-tablet) {
    .col-ms-4,
    .col-ms-8,
    .col-lg-6 {
      padding: 0;
    }
  }
  &-icons {
    margin-bottom: 1.9rem;
    text-align: center;
  }
}

.greeting {
  font-size: 2.25rem;
}

.about-general {
  color: $gray-dark;
  font-family: 'Cardo', serif;
  font-size: 1.25rem;
  padding-top: 2rem;

  @media (min-width: $screen-tablet) {
    padding-left: 0;
  }
}

.about-detailed {
  padding-top: 2rem;

  .icon {
    height: 2rem;
    width: 2rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &--speed {
      width: 2.5rem;
    }

    &--connect {
      width: 4rem;
    }
  }
}
