.case {
  font-size: 1.125rem;
  position: relative;

  main {
    h3,
    h4 {
      font-family: inherit;
      font-weight: 600;
      margin-top: 3rem;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    figure {
      font-size: .875rem;
      margin: 5rem auto;
      text-align: center;
    }

    figcaption {
      margin-top: 1rem;
    }
  }

  .arrow {
    backface-visibility: hidden;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__close {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $gray-lighter;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 3rem;
    left: 50%;
    position: absolute;
    top: 5rem;
    transform: translateX(-50%);
    width: 3rem;
    z-index: 9;

    &::before,
    &::after {
      background-color: $gray-lighter;
      content: '';
      display: inline-block;
      height: 1px;
      left: .5rem;
      position: absolute;
      top: 50%;
      width: 2rem;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__header {
    padding: 20vh 0;

    @media (min-width: $screen-tablet) {
      padding: 30vh 0;
    }
  }

  &__heading {
    margin-bottom: .5rem;
  }

  &__preview {
    display: block;
    margin: 10rem auto;
  }

  &__back {
    display: block;
    margin: 5rem auto;
    text-align: center;
    text-transform: uppercase;
    width: 5rem;
  }
}

.subtitle {
  color: $gray-darker;
}
