.not-found {
  justify-content: center;
  text-align: center;

  &__icon {
    display: block;
    height: 5.5rem;
    margin: 0 auto;
    width: 6rem;
  }

  &__heading {
    margin-top: 2rem;
  }

  &__btn {
    background-color: $white-base;
    border: 2px solid currentColor;
    color: $gray-dark;
    display: inline-block;
    margin: 2rem auto;
    text-transform: uppercase;
    transition: all .4s ease-out;

    @media (min-width: $screen-tablet) {
      margin: 1.5rem 0;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $gray-dark;
      border-color: $gray-dark;
      color: $white-base;
    }
  }
}
