.showcase {
  background-color: $gray-darker;
  color: $white-base;
  min-height: 100vh;

  h2 {
    color: inherit;
  }

  .slider-decorator-0,
  .slider-decorator-1 {
    top: 75% !important;

    @media (min-width: $screen-tablet) {
      top: 50% !important;
    }
  }

  .slider-decorator-2 {
    bottom: 2rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.carousel-ctrl {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  height: 4rem;
  outline: 0;
  width: 2.5rem;

  @media (min-width: $screen-tablet) {
    border: 1px solid $white-lighter;
  }

  &::before,
  &::after {
    background-color: $white-light;
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto;
    position: relative;
    width: 1rem;
  }

  &::before {
    top: -5px;
    transform: rotate(-45deg);
  }

  &::after {
    bottom: -5px;
    transform: rotate(45deg);
  }

  &--next::before {
    transform: rotate(45deg);
  }

  &--next::after {
    transform: rotate(-45deg);
  }

  &--disabled {
    opacity: 0;
  }
}

.project {
  margin-top: 5rem;

  &__preview {
    display: block;
    margin: 1rem auto;
  }

  &__info {
    margin: 4rem auto;
    text-align: center;

    @media (min-width: $screen-tablet) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    color: inherit;
    font-family: inherit;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__tags {
    margin-bottom: 0;
  }

  &__cta {
    background-color: $white-base;
    border-radius: 0;
    color: $gray;
    margin-top: 2rem;
    transition: all .4s ease-out;

    &::before {
      display: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .12);
      color: $white-light;
    }
  }
}
