html,
body {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $screen-lg-desktop) {
    font-size: 18px;
  }
}

figcaption {
  font-style: italic;
}

blockquote {
  border-left: 0;
  font-family: 'Cardo', serif;
  font-style: italic;
  line-height: 1em;

  &::before,
  &::after {
    font-family: serif;
    font-size: 1.5em;
  }

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

a {
  color: $gray-darker;
}

img {
  max-width: 100%;
}
