html,
body {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $screen-lg-desktop) {
    font-size: 18px;
  }
}

section {
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h1,
h2 {
  margin-bottom: 1em;
  margin-top: 2em;
}

p + p {
  margin-top: .5em;
}

blockquote {
  border-left: 0;
  font-family: 'Cardo', serif;
  font-style: italic;
  line-height: 1em;

  &::before,
  &::after {
    font-family: serif;
    font-size: 1.5em;
  }

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

code {
  font-family: inherit;
  font-style: italic;
}

figcaption {
  font-style: italic;
}

img {
  max-width: 100%;
}

button:focus {
  box-shadow: 0;
  outline: 0;
}

a {
  color: $gray-darker;
}
