/**
*
* Custom Stylesheet
*
**/
/* Variables */
/**
*
* Utils
*
**/
/*==========  VARIABLES  ==========*/
/*==========  FUNCTIONS  ==========*/
/*==========  MIXINS  ==========*/
/**
* BASE
**/
body {
  background-color: #13001C;
  color: #e0e0e0;
}

ul, ol {
  padding-left: 0;
}

blockquote {
  font-size: 20px;
  font-style: italic;
  border-left: 2px solid;
  padding-left: 1em;
}

video {
  object-fit: initial;
}

/* Mixins */
/**
* LAYOUT
**/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #13001C;
  display: table;
  width: 100%;
  height: 100%;
}
#loading > * {
  display: table-cell;
  vertical-align: middle;
}

.spinner {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #FF8800;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
          animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
            transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
            transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
            transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
            transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
            transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
            transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
            transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
            transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.logo {
  width: 1em;
  height: 1em;
  fill: #fff;
}

.header {
  display: table;
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
}
.header > * {
  display: table-cell;
  vertical-align: middle;
}

.content-wrap {
  overflow-y: scroll;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

/* Menu Button */
.menu__button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0.5em;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
  /* Close Button */
}
@media only screen and (max-width: 620px) {
  .menu__button {
    margin: 0;
  }
}
.menu__button--open::before {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  background: -webkit-linear-gradient(#F5F5F5 20%, transparent 20%, transparent 40%, #F5F5F5 40%, #F5F5F5 60%, transparent 60%, transparent 80%, #F5F5F5 80%);
  background: linear-gradient(#F5F5F5 20%, transparent 20%, transparent 40%, #F5F5F5 40%, #F5F5F5 60%, transparent 60%, transparent 80%, #F5F5F5 80%);
  content: '';
}
.menu__button--open:hover::before {
  opacity: 0.7;
}
.menu__button--open:focus {
  outline: none;
}
.menu__button--close {
  width: 16px;
  height: 16px;
  margin: 0;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent;
}
.menu__button--close::before, .menu__button--close::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #95a5a6;
}
.menu__button--close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__button--close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
  position: fixed;
  z-index: 1001;
  width: 300px;
  height: 100%;
  font-size: 1.15em;
  -webkit-transform: translate3d(-300px, 0, 0);
          transform: translate3d(-300px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.menu {
  background: #13001C;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  height: 100%;
  padding: 2em 1em;
}
@media only screen and (max-width: 619px) {
  .menu {
    text-align: center;
    width: 100%;
  }
}

.menu__links a {
  display: block;
  padding: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 120px;
  height: 100%;
  top: 0;
  right: 0;
  fill: #13001C;
  z-index: 1000;
}
@media only screen and (max-width: 620px) {
  .morph-shape {
    display: none;
  }
}

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
@media only screen and (max-width: 619px) {
  .show-menu .menu-wrap {
    width: 100%;
  }
}
.show-menu .content-wrap {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}
.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav--bottom {
  padding-bottom: 30px;
}

/**
* COMPONENTS
**/
.divider {
  padding: 1em 0;
}
.divider--dotted {
  border-bottom: 1px solid;
}

.title {
  font-family: 'Chantelli', Helvetica, sans-serif;
  text-align: center;
}

.link--primary {
  position: relative;
  display: inline-block;
  margin: 1em;
  text-transform: uppercase;
  /* Effect 8: border slight translate */
  padding: 10px 20px;
}
.link--primary::before, .link--primary::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(240, 240, 240, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
          transition: transform 0.3s, opacity 0.3s;
}
.link--primary::after {
  border-color: #3D9970;
  opacity: 0;
  -webkit-transform: translateY(-10px) translateX(9px);
          transform: translateY(-10px) translateX(9px);
}
.link--primary:hover {
  color: #3D9970;
}
.link--primary:hover::before, .link--primary:focus::before {
  opacity: 0;
  -webkit-transform: translateY(5px) translateX(-5px);
          transform: translateY(5px) translateX(-5px);
}
.link--primary:hover::after, .link--primary:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px) translateX(0px);
          transform: translateY(0px) translateX(0px);
}

/* Icons */
.f-icon-sublime:hover {
  color: #e0831c;
}
.f-icon-github:hover {
  color: #8330BB;
}
.f-icon-sass:hover {
  color: #aa548c;
}
.f-icon-wordpress:hover {
  color: #989898;
}
.f-icon-gulp:hover {
  color: #ae4844;
}
.f-icon-photoshop:hover {
  color: #6bafdb;
}
.f-icon-mamp:hover {
  color: #4b79b2;
}
.f-icon-bootstrap:hover {
  color: #5d4b8e;
}
.f-icon-twitter:hover {
  color: #00aced;
}
.f-icon-tumblr:hover {
  color: #32506d;
}

/**
*
* PAGES
*
**/
/*
* Homepage
*/
.page--home {
  text-align: center;
}
.page--home section {
  min-height: 100%;
  display: table;
  width: 100%;
  height: 100%;
}
.page--home section > * {
  display: table-cell;
  vertical-align: middle;
}
.page--home .animated-bg {
  background-image: url("../img/sky.jpg");
  background-size: cover;
}
.page--home canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.page--home .link--primary[href*="about"]::after {
  border-color: #B30445;
}
.page--home .link--primary[href*="about"]:hover {
  color: #B30445;
}
.page--home .link--primary[href*="portfolio"]::after {
  border-color: #FF8800;
}
.page--home .link--primary[href*="portfolio"]:hover {
  color: #FF8800;
}
@media only screen and (max-width: 840px) {
  .page--home .link--primary {
    display: block;
    width: 240px;
    margin: 1em auto;
  }
}

.contact-wrapper {
  text-align: center;
}

.contact__mail {
  font-style: italic;
  font-size: 1.5em;
  letter-spacing: 1px;
  /* Arrow */
}
.contact__mail a {
  position: relative;
  display: inline-block;
  padding: 0 0.25em;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.contact__mail a:hover, .contact__mail a::after {
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
}
.contact__mail a::before, .contact__mail a::after {
  position: absolute;
  height: 100%;
  content: '';
}
.contact__mail a::before {
  left: 0;
  z-index: -1;
  width: 100%;
  background: #13001C;
}
.contact__mail a::after {
  left: 100%;
  z-index: -2;
  width: 1em;
  background-size: 60% auto;
  text-align: center;
  font-family: Arial, sans-serif;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  pointer-events: auto;
}
.contact__mail a:hover::before, .contact__mail a:focus::before {
  background: #fff;
}
.contact__mail a:hover::after, .contact__mail a:focus::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #FF8800;
  background-image: url(../img/arrow_right.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*
* About page
*/
.page--about {
  background-image: url("../img/fog.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.page--about .menu__links a:hover {
  color: #AB000B;
}
.page--about section {
  padding: 2em 0;
  background-color: rgba(10, 0, 15, 0.75);
}
.page--about section:nth-child(3) {
  background-color: #13001C;
}
.page--about section:nth-child(4) {
  background-color: #0A000F;
}
.page--about section .xlarge {
  line-height: initial;
}
.page--about h1 {
  text-align: center;
}
.page--about .menu__button--open:hover::before {
  background: -webkit-linear-gradient(#FF1744 20%, transparent 20%, transparent 40%, #FF1744 40%, #FF1744 60%, transparent 60%, transparent 80%, #FF1744 80%);
  background: linear-gradient(#FF1744 20%, transparent 20%, transparent 40%, #FF1744 40%, #FF1744 60%, transparent 60%, transparent 80%, #FF1744 80%);
}
.page--about .social {
  font-size: 42px;
  text-align: center;
}
.page--about .social .title {
  padding-bottom: 0.725em;
}
@media only screen and (max-width: 619px) {
  .page--about .social .title {
    padding-top: 2em;
  }
}

.main {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 619px) {
  .info__photo {
    max-width: 266px;
    display: block;
    margin: 0 auto;
  }
}
.info__available {
  text-align: center;
  border: 2px solid #43A684;
  padding: 0.4em;
  margin-top: 1.625em;
  cursor: pointer;
}
.info__details {
  text-align: center;
  padding-top: 0.625em;
}
.info__details li {
  font-size: 16px;
}
.info__details li:before {
  content: '';
}
.info__details .icon {
  display: block;
  font-size: 13px;
}
.info__details .icon-minus {
  line-height: 0.4;
}
.info__future__question {
  font-size: 26px;
  font-style: italic;
  padding: 0 0 0 1em;
  margin-top: 1.625em;
}

.skillset {
  text-align: center;
}
.skillset p {
  padding-top: 0.5em;
}
@media only screen and (max-width: 619px) {
  .skillset .title {
    padding-top: 2em;
  }
}

.toolbox {
  text-align: center;
  font-size: 42px;
}
.toolbox > div:not(.clear) {
  padding-top: 0.5em;
}
@media only screen and (max-width: 619px) {
  .toolbox > div:not(.clear) {
    float: left;
    width: 25%;
  }
}

.quotation {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
  background-image: url("../img/dock.jpg");
  background-size: cover;
}
.quotation > * {
  display: table-cell;
  vertical-align: middle;
}
.quotation blockquote {
  color: #FFF;
  width: 80%;
  margin: 0 auto;
  border: 0;
}
.quotation blockquote p {
  font-size: 26px;
  padding-top: 0;
  padding-left: 1em;
  border-left: 2px solid;
}

.hobbies__list {
  float: left;
  width: 50%;
}

.twitter-timeline {
  max-height: 275px;
  overflow: auto;
  width: 300px !important;
  margin: 0 auto !important;
  display: block !important;
}
@media only screen and (max-width: 619px) {
  .twitter-timeline {
    display: none !important;
  }
}

/*
* Portfolio Page
*/
.page--portfolio {
  background-image: url("../img/showcase/apple.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.page--portfolio .menu__button--open:hover::before {
  background: -webkit-linear-gradient(#DE4A00 20%, transparent 20%, transparent 40%, #DE4A00 40%, #DE4A00 60%, transparent 60%, transparent 80%, #DE4A00 80%);
  background: linear-gradient(#DE4A00 20%, transparent 20%, transparent 40%, #DE4A00 40%, #DE4A00 60%, transparent 60%, transparent 80%, #DE4A00 80%);
}

.showcase {
  background-color: rgba(10, 0, 15, 0.45);
  color: #404040;
}
.showcase strong {
  font-weight: 400;
}

.remodal .carousel {
  display: table;
  width: 100%;
  height: 100%;
  height: 20em;
}
.remodal .carousel > * {
  display: table-cell;
  vertical-align: middle;
}
.remodal .carousel .title {
  color: #fff;
  text-shadow: 0 0 10px #000;
}
.remodal.mfe .carousel {
  background-image: -webkit-linear-gradient(270deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/mfe/headermfe.png");
  background-image: linear-gradient(180deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/mfe/headermfe.png");
  background-size: cover;
}
.remodal.portfolio .carousel {
  background-image: -webkit-linear-gradient(270deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/website/header.png");
  background-image: linear-gradient(180deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/website/header.png");
  background-size: cover;
}
.remodal.yiruma .carousel {
  background-image: -webkit-linear-gradient(270deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/yiruma/header-yiruma.jpg");
  background-image: linear-gradient(180deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/yiruma/header-yiruma.jpg");
  background-size: cover;
}
.remodal.lunardi .carousel {
  background-image: -webkit-linear-gradient(270deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/lunardi/lunardi-header.jpg");
  background-image: linear-gradient(180deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/lunardi/lunardi-header.jpg");
  background-size: cover;
}
.remodal.ww1 .carousel {
  background-image: -webkit-linear-gradient(270deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/ww1/header-ww1.jpg");
  background-image: linear-gradient(180deg, rgba(10, 0, 15, 0.8) 10%, rgba(10, 0, 15, 0.2) 100%), url("../img/showcase/ww1/header-ww1.jpg");
  background-size: cover;
}

.work a:not(.cta--primary) {
  color: #FF8800;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 0.25em;
  font-weight: 500;
  -webkit-transition: color 0.2s;
          transition: color 0.2s;
  position: relative;
}
.work a:not(.cta--primary):hover {
  color: #AB000B;
}
.work a:not(.cta--primary)::before, .work a:not(.cta--primary)::after {
  position: absolute;
  top: 0;
  opacity: 0;
  font-weight: 100;
  font-size: 150%;
  line-height: 1;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
          transition: opacity 0.2s, transform 0.2s;
}
.work a:not(.cta--primary)::before {
  left: -0.1em;
  content: '[';
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.work a:not(.cta--primary)::after {
  right: -0.1em;
  content: ']';
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.work a:not(.cta--primary):hover::before, .work a:not(.cta--primary):hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.work .cta--primary {
  padding-top: 1em;
}
.work dl {
  margin-top: 0;
  padding-top: 0.725em;
}
.work dt {
  font-size: 20px;
}
.work dd {
  margin-left: 0;
}
.work section {
  padding: 2em;
}
.work h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
}
.work__details {
  background-color: #13001C;
  color: #e0e0e0;
  font-weight: 600;
}
.work__challenge {
  background-color: #1a0026;
  color: #e0e0e0;
}
.work__tools {
  padding-top: 0;
  font-size: inherit;
}
.work__preview {
  display: block;
  margin: 0 auto;
}
.work figure {
  margin-top: 1.725em;
  position: relative;
}
.work figure::before, .work figure::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  border-color: #13001C;
  position: absolute;
}
@media only screen and (max-width: 619px) {
  .work figure::before, .work figure::after {
    display: none;
  }
}
.work figure::before {
  border-left: 1px solid;
  border-top: 1px solid;
  top: 0;
  left: 0;
}
.work figure::after {
  border-right: 1px solid;
  border-bottom: 1px solid;
  bottom: 0;
  right: 0;
}
.work figure figcaption {
  font-size: 20px;
  color: #404040;
}

/*
* Contact Page
*/
.page--contact .menu__links a:hover {
  color: #3D9970;
}
.page--contact p {
  line-height: 1.5em;
}

/*# sourceMappingURL=custom.css.map */
